<div class="card">
    <h2>{{ modelo.id ? 'Editar Contacto' : 'Nuevo Contacto' }}</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="modelo.nombre" name="nombre" required />
        </div>
        <div>
            <label>Teléfono:</label>
            <input type="text" [(ngModel)]="modelo.telefono" name="telefono" required />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" [(ngModel)]="modelo.email" name="email" required />
        </div>
        <button type="submit">{{ modelo.id ? 'Actualizar' : 'Registrar' }} Contacto</button>
        <button type="button" (click)="onCancelar()">Limpiar</button>
    </form>
</div>