<div class="card">
  <h2 style="text-align:center">Listado de Contactos</h2>
  <table style="width:100%; text-align:center;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of contactos">
        <td>{{ contacto.id }}</td>
        <td>{{ contacto.nombre }}</td>
        <td>{{ contacto.telefono }}</td>
        <td>{{ contacto.email }}</td>
        <td>
          <button (click)="onEditar(contacto)">Editar</button>
          <button (click)="onEliminar(contacto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
